import React from 'react';
{{#if addStylesheet}}
import CSSModules from 'react-css-modules';
import styles from './style.scss';
{{/if}}

function {{ properCase name }}(props) {
  return (
{{#if addStylesheet}}
    <div styleName='{{ camelCase name }}'>
{{else}}
    <div>
{{/if}}
    </div>
  );
}

{{#if addStylesheet}}
export default CSSModules({{ properCase name }}, styles)
{{else}}
export default {{ properCase name }}
{{/if}}